button {
  /* Button Fills */

  /* Default */
  --default: #6849fc;

  /* Primary */
  --primary: radial-gradient(circle at 21% 21%, #714bfe, #6047fa 51%, #5727e1);
  --primary-hover: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    radial-gradient(circle at 21% 21%, #714bfe, #6047fa 51%, #5727e1);
  --primary-focus: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    radial-gradient(circle at 21% 21%, #714bfe, #6047fa 51%, #5727e1);

  /* Success */
  --success: #12d79a;
  --success-hover: #10c28b;
  --success-focus: #0eac7b;

  /* Info */
  --info: #b5baca;

  /* Warning */
  --warning: #fad172;
  --warning-hover: #f3c250;
  --warning-focus: #e6b84b;

  /* Danger */
  --danger: #e44646;
  --danger-hover: #d54242;
  --danger-focus: #a53434;

  /*Button Text*/
  --default-text: #627098;
  --default-focus-text: #f7f8fb;
  --info-text: #f7f8fb;

  --box-shawdow: 3px 10px 20px 0 rgba(0, 0, 0, 0.1);
  --disabled: #b5baca;
}
