:root {
  /* grays */
  --gray-light: rgb(231, 233, 234);
  --gray-blue-light: rgb(233, 239, 244);
  --gray-lightest: rgb(250, 251, 255);

  /* purples */
  --purple: rgb(109, 75, 254);
  --purple-light: rgb(197, 183, 254);
  --purple-dark: rgb(31, 52, 108);
  --purple-gradient: linear-gradient(108deg, #714bfe, #6047fa 51%, #5727e1);
  --purple-transparent: rgba(105, 73, 252, 0.1);
  --purple-transparent-light: rgba(93, 59, 241, 0.1);

  --danger: #e44646;

  /* text */
  --text-gray-dark: rgba(31, 52, 108, 0.61);
  --text-gray-normal: rgba(31, 52, 108, 0.4);
  --purple: #6047fa;
  --danger: #e44646;
  --darkPurple: #1f346c;
  --btnGradient: linear-gradient(108deg, #714bfe, #6047fa 51%, #5727e1);
  --text-gray: rgb(50, 60, 71);
  --text-gray-light: rgb(152, 152, 152);
}
